footer{
    background-color:$magenta;
    .text-muted{
        color: #141619!important;
    }
    .border-bottom{
        border-bottom: var(--bs-border-width) var(--bs-border-style) #141619!important;
    }
    
}