.main{
    background-color: black;
    color: white;
    padding-top: 150px;
    img{
        height: 400px;
    }
    .tamaño_foto{
        width: 70vw;
    }
    .boton-color{
        background-color: rgb(242, 8, 191);
    }
    h1{
        color: rgb(242, 8, 191);
    }
    h2{
        color: rgb(242, 8, 191);
    }
    .colorBoton{
        background-color: rgb(242, 8, 191);
    }
}