nav{
    background-color: $magenta;
    .navbar-brand img{
        width: 90px;
        height: 90px;
    }
    .navbar-nav a{
        border: 3px solid black;
        color: black;
    }
    .fixed-top{
        position: fixed;
    }
    .negrita{
        font-weight: 900;
    }
    &:hover{
        font-size: larger;
    }
}